Package: nita-ansible-2.9.18
Version: 21.7-1
Section: base
Priority: optional
Architecture: all
Maintainer: Ashley Burston <aburston@juniper.net>, Hugo Ribeiro <hribeiro@juniper.net>
Description: Ansible addon for NITA base package
 Copyright Juniper Networks 2020
 Apache License, Version 2.0, http://www.apache.org/licenses/LICENSE-2.0
