#jinja2:lstrip_blocks: True
## ********************************************************
##
## Project: nita-ansible
##
## Copyright (c) Juniper Networks, Inc., 2021. All rights reserved.
##
## Notice and Disclaimer: This code is licensed to you under the Apache 2.0 License (the "License"). You may not use this code except in compliance with the License. This code is not an official Juniper product. You can obtain a copy of the License at https://www.apache.org/licenses/LICENSE-2.0.html
##
## SPDX-License-Identifier: Apache-2.0
##
## Third-Party Code: This code may depend on other components under separate copyright notice and license terms. Your use of the source code for those components is subject to the terms and conditions of the respective license as noted in the Third-Party source code file.
##
## ********************************************************
routing-instances {
    fabric {
        instance-type virtual-router;
{% for port in firewall_port %}
        interface {{ port.interface }}.{{ port.vlan_id | default("0", true) }};
{% endfor %}
        routing-options {
            static {
                route 0.0.0.0/0 discard;
            }
        }
        protocols {
            ospf {
                export ospf-default;
                area 0.0.0.0 {
{% if vrfs is defined %}
{% for vrf in vrfs %}
{% if vrf.ospf_interfaces is defined %}
{% for interface in vrf.ospf_interfaces %}
                    interface {{ interface.name }};
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
                }
            }
        }
    }
}
