#jinja2:lstrip_blocks: True
## ********************************************************
##
## Project: nita-ansible
##
## Copyright (c) Juniper Networks, Inc., 2021. All rights reserved.
##
## Notice and Disclaimer: This code is licensed to you under the Apache 2.0 License (the "License"). You may not use this code except in compliance with the License. This code is not an official Juniper product. You can obtain a copy of the License at https://www.apache.org/licenses/LICENSE-2.0.html
##
## SPDX-License-Identifier: Apache-2.0
##
## Third-Party Code: This code may depend on other components under separate copyright notice and license terms. Your use of the source code for those components is subject to the terms and conditions of the respective license as noted in the Third-Party source code file.
##
## ********************************************************
policy-options {
    policy-statement EVPN_T5_EXPORT {
        term fm_direct {
            from protocol direct;
            then accept;
        }
        term fm_static {
            from protocol static;
            then accept;
        }
{% if collapsed_spine is defined %}
{% if collapsed_spine %}
        term fm_v4_default {
            from {
                protocol evpn;
                protocol ospf;
                route-filter 0.0.0.0/0 exact;
            }
            then accept;
        }
        term fm_v4_host {
            from {
                protocol evpn;
                route-filter 0.0.0.0/0 prefix-length-range /32-/32;
            }
            then accept;
        }
{% endif %}
{% else %}
{% if leaf_type == "border" %}
        term fm_v4_default {
            from {
                protocol evpn;
                protocol ospf;
                route-filter 0.0.0.0/0 exact;
            }
            then accept;
        }
{% else %}
        term fm_v4_host {
            from {
                protocol evpn;
                route-filter 0.0.0.0/0 prefix-length-range /32-/32;
            }
            then accept;
        }
{% endif %}
{% endif %}
        term fm_v6_host {
            from {
                protocol evpn;
                route-filter 0::0/0 prefix-length-range /128-/128;
            }
            then accept;
        }
    }
}
