#jinja2:lstrip_blocks: True
interfaces {
    {{ management_interface.int }} {
        unit 0 {
            description "*** management ***";
            family inet {
{% if management_interface.ip is defined %}
                address {{ management_interface.ip }}/{{ management_interface.mask }};
{% else %}
                dhcp;
{% endif %}
            }
        }
    }

}

