#jinja2:lstrip_blocks: True
## ********************************************************
##
## Project: nita-ansible
##
## Copyright (c) Juniper Networks, Inc., 2021. All rights reserved.
##
## Notice and Disclaimer: This code is licensed to you under the Apache 2.0 License (the "License"). You may not use this code except in compliance with the License. This code is not an official Juniper product. You can obtain a copy of the License at https://www.apache.org/licenses/LICENSE-2.0.html
##
## SPDX-License-Identifier: Apache-2.0
##
## Third-Party Code: This code may depend on other components under separate copyright notice and license terms. Your use of the source code for those components is subject to the terms and conditions of the respective license as noted in the Third-Party source code file.
##
## ********************************************************
protocols {
    bgp {
{% for bgp in evpn_ibgp %}
        group {{ bgp.group }} {
            type internal;
            local-address {{ loopback_ip }};
            family evpn {
                signaling;
            }
            cluster {{ loopback_ip }};
            local-as {{ autonomous_system }};
            multipath;
{% for neighbor in bgp.neighbors %}
            neighbor {{ neighbor.name }};
{% endfor %}
        }
{% endfor %}
    }
    evpn {
        encapsulation vxlan;
        multicast-mode ingress-replication;
        default-gateway do-not-advertise;
{% if leaf_type != "border" %}
        extended-vni-list all;
{% endif %}
{%if collapsed_spine is defined %}
{%if collapsed_spine %}
        no-core-isolation;
{% endif %}
{% endif %}
    }
}
switch-options {
    vtep-source-interface lo0.0;
    route-distinguisher {{ loopback_ip }}:9999;
    vrf-target {
        target:9999:9999;
        auto;
   }
}
